<ion-header>
  <custom-logged-header [title]="view"></custom-logged-header>

  <ion-toolbar>
    <ion-segment [(ngModel)] = "view">
      <ion-segment-button value="chats">
        Chats
      </ion-segment-button>
      <ion-segment-button value="users">
        Users
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar (ionInput)="filterItens($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div [ngSwitch] = "view">
    <ion-list *ngSwitchCase="'chats'">
      <div *ngFor="let chat of (chats | async)">
        <button ion-item *ngIf="chat.lastMessage" (click)="onChatOpen(chat)">
          <h2>{{chat.title}}</h2>
          <p>{{chat.timestamp | date:'dd/MM/y H:mm'}} - {{chat.lastMessage}}</p>
        </button>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'users'">
      <button ion-item *ngFor="let user of (users | async)" (click)="onChatCreate(user)">
          {{user.name}}
      </button>
    </ion-list>
  </div>

</ion-content>
